HTTP_PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=flysoft_flight_service
DB_SSLMODE=disable
LOG_LEVEL=info
OFFER_TTL=30m
COMMISSION_PERCENT=5
SERVICE_FEE_ADULT=1500
SERVICE_FEE_CHILD=1000
SERVICE_FEE_INFANT=0
